h3, h4 {
  /* color: #fff5cc; */
  /* font-size: 110%; */
  text-align: center;
  font-family: 'Noto Serif', serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.bottle::-webkit-scrollbar {
  width: 1em;
}

.bottle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.bottle::-webkit-scrollbar-thumb {
  background-color: #00004d;
  outline: 1px solid #3E363F;
}
