h1 {
  /* font-family: 'Tangerine'; */
  /* font-family: 'Stalemate'; */
  font-family: 'Charmonman';
  /* font-family: 'Parisienne'; */
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #f2f2f2;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

p {
  margin: 0;
}


/*button */
.suit_and_tie {
  /* font */
  color: black;
  font-size: 20px;
  font-family: Raleway;

  /* remove blue underline */
  text-decoration: none;

  /* border */
  border: 2px solid black;
  border-radius: 20px;

  /* transitions */
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;

  /* other */
  background-color: white;
  padding: 4px 30px;
}

.suit_and_tie:hover {
  /* update text color and background color */
  color:white;
  background-color:transparent;

   /* transitions */
  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
}

.variation-b {
  display: inline-block;
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.variation-b {
  background-color: black;
}

.variation-b .suit_and_tie {
  /* font */
  color: white;

  /* border */
  border: 2px solid white;

  /* other */
  background-color: black;
}

.variation-b .suit_and_tie:hover {
  /* font */
  color: black;

  /* border */
  border: 2px solid black;

  /* other */
  background-color: white;
}

button.suit_and_tie {
  -webkit-appearance: none;
  -moz-appearance: none;
}
