
.suit_and_tie {
  color: black;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: white;
  padding: 4px 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.suit_and_tie:hover {
  color:white;
  background-color:black;
  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
}

.variation-a,
.variation-b {
  display: inline-block;
  height: 100px;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.variation-b {
  background-color: black;
}

.variation-b .suit_and_tie {
  /* font */
  color: white;

  /* border */
  border: 2px solid white;

  /* other */
  background-color: black;
}

.variation-b .suit_and_tie:hover {
  /* font */
  color: black;

  /* border */
  border: 2px solid black;

  /* other */
  background-color: white;
}

button.suit_and_tie {
  -webkit-appearance: none;
  -moz-appearance: none;
}
