h1 {
  font-family: 'Noto Serif', serif;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body {
  background-color: #FFFCE8;
}
